body{
	margin: 0px;
	padding: 0px;
	font-family: helvetica;
}
header{
	text-align: center;
	background-color: black;
	color: white;
}
img {
	border-radius: 50%;
}
p2{
		color: grey;
	}
div1{
	width: 35%;
	float: left;
}
div2{
	width: 62%;
	float: left;
}
line{
	border-left: 1px solid #c7c7c7;
	height: 800px;
	width: 2%;
	margin-top: 30px;
	float: left;
}
side{
	padding: 20px;
}

sk{
	margin-left: -20px;
	margin-bottom: 0px;
}

sk li{
	padding: 5px;
	color: gray;
}

ref{
	margin-left: -20px;
	margin-bottom: 0px;
}

li{
	padding: 5px;
	color: gray;
}

td{
	color: gray;
	text-align: center;
}
i{
	color: gray;
}

a{
	color: green;
}

in{
	color: gray;
}

table, th, td{
border: 1px solid;
}

table{
width: 100%;
}

input[type=submit]{
background-color: green;
color: white;
}

input[type=reset]{
background-color: red;
color: white;
}